.m-tooltip {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 8px;
  width: 170px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  z-index: 5;

  &__title {
    font-weight: 700;
  }

  &__item {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}